.sponsorshipContainter{
    text-align: center;
    margin: 3% 8%;
    border-bottom: 3px solid #c5c2c2;
    padding-bottom: 5px;
    
}
.sponsorships{
    padding-top: 1%;
}
.brandName{
    color: #4a4a4a;
}
.brandName h2{
    margin: 0;
}
.brandInfo{
    font-style: italic;
    color: grey;
    margin: -0.5% 18%;
}
@media(max-width:500px){
    .sponsorships{
        margin: 2% 3%;
        padding-top: 25%;
    }
  
}